.post .profile {
  width: 40% !important;  
}

.post .profile img {
  width: 100% !important;
  height: auto !important;
  display: block;
}

.profile.float-right {
  margin-left: 1rem;
}

.profile.float-left {
  margin-right: 1rem;
}

/*
@media (max-width: 576px) {
  .profile {
    float: none !important;
    width: 95vw !important;
    margin: 0 auto 1rem;
  }
} */